body{
    font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: unset;
    color: #24292f;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 20px;
}
.header {
    text-align: center;
    margin-bottom: 24px;
}

.header h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}

.header p {
    font-size: 16px;
    color: #57606a;
    max-width: 900px;
    margin: 0 auto 32px;
}

.trail-button {
    display: inline-block;
    background-color: #24292f;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 60px;
}

.trail-button:hover{
    background-color: #404142;
}

.pricing-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 40px;
    
    
}

.card{
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 50px 80px 12px #afb1b4;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-header{
    text-align: center;
}

.dollar-sup{
    font-size: 24px;
    font-weight: 300;
}

.pricing-cards-price{
    font-size: 40px;
    font-weight: 400;
}

.usd{
    font-size: 20px;
    font-weight: 700;
}